.halign-left {
    text-align: left;
}

.halign-center {
    text-align: center;
}

.halign-right {
    text-align: right;
}

.valign-top {
    vertical-align: top;
}

.valign-middle {
    vertical-align: middle;
}

.valign-bottom {
    vertical-align: bottom;
}

p.tableblock {
    display: inline;
}